{{!-- Blog Post --}}
<section class="container my-5 ">
  <section id ="header-card" class="col-12 card post-card">
    <section class="header-stripe bg-gradient">
      <h2>{{title}}</h2>
    </section>
    <section class="tagline-stripe bg-gradient">
      <p>Created by {{user.name}} on {{format_date date}}</p>
    </section>
    <div class="blog-text">
      <p class="two-columns">
        {{blog_text}}
      </p>
    </div>
  </section>
</section>

{{!-- Create Comment --}}
{{!-- <section id="createComment" class="col-md-6 "> --}}
<section class="container my-5 ">
  <section id ="header-card" class="col-12 card post-card">
    <section class="create-stripe bg-gradient">
      <h2>Have something to say?</h2>
    </section>
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-content">Comment:</label>
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id= "submit" class="btn btn-primary comment-btn">Comment</button>
      </div>
    </form>
  </section>
</section>


{{!-- Comments posted --}}
<section class="container my-5">
  <div class="col-12 card post-card">
  {{!-- {{#if comments.length}} --}}
    {{#each Comments as |c|}}
    <div id="currentComments" class="row mb-2">
      <div class="col-md-8">
        <h4>{{c.comment}}</a></h4>
      </div>
      <div class="col-md-4">
        <p>{{user.name}}</p>
      </div>
    </div>
    {{else}}
      <p>No comments made.</p>
    {{/each}}
  {{!-- {{/if}} --}}
  </div>
</section>


{{!-- script --}}
<script src="/js/comment.js"></script>