{{!-- Welcome --}}
<div class="row">
  <div class="text-center p-4">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{!-- Create Post --}}
<div class="row mt-4">
  <div id="create-card" class="col-9 card dashboard-card mx-auto">
    <div class="create-stripe">
      <h3>Create a New Blog Post:</h3>
    </div>
    <form class="form new-blogPost-form">
      <div class="form-group">
        <label for="blogPost-name">Title:</label>
        <input class="form-input" type="text" id="blogPost-name" name="blogPost-name" />
      </div>
      <div class="form-group">
        <label for="blogPost-content">Content:</label>
        <textarea class="form-input" id="blogPost-content" name="blogPost-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id= "submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

{{!-- Current Blog Posts --}}
  <div class="col-md-6 card dashboard-card mx-auto">
    <h3 class="row">Current Blog Posts: </h3>

  {{#if blogPosts.length}}
    {{#each blogPosts as |blog|}}
    <section class="container my-5 ">
      <div class="row">   
        <section id ="header-card" class="col-12 card post-card">
          <section class="header-stripe bg-gradient">
            <h4><a href="/blogposts/{{blog.id}}">{{blog.title}}</a></h4>
          </section>
        </section>
      <div id="currentPosts" class="row mb-2">
      {{!-- <div class="col-md-6">
      </div> --}}
      <div id="dashboard-btns" class="col-md-2 p-2">
        <a role="button" class="btn btn-sm btn-danger updateBtn" href="/api/updatepost/{{blog.id}}">UPDATE</a>
        {{!-- <button role="button" class="btn btn-sm btn-danger updateBtn" data-id="{{blog.id}}" href="/api/updatepost/{{blog.id}}">UPDATE</button> --}}
      </div>
      <div id="dashboard-btns" class="col-md-2 p-2">
        <button type="button" class="btn btn-sm btn-danger delBtn" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{else}}
    <p>No posts currently created.</p>
    {{/each}}
  {{/if}}
  </div>
</div>


{{!-- Script --}}
<script src="/js/dashboard.js"></script>
