<!-- Loop over each object in the blogs array -->
{{#each BlogPosts as |blog| }}
<section class="container my-5 ">
  <div class="row">   
    <section id ="header-card" class="col-12 card post-card">
      <section class="header-stripe bg-gradient">
        <h2>
          {{{get_emoji}}}
          <a href="/blogposts/{{id}}">{{title}}</a>
        </h2>
      </section>
      <section class="tagline-stripe bg-gradient">
        <p>Created by {{user.name}} on {{format_date blog.date}}</p>
      </section>
      <div class="blog-text">
        <p class="two-columns">{{blog_text}}</p>
      </div>
    </section>
  </div>
</section>
{{/each}}

