{{!-- Blog Post --}}
<section class="container my-5 ">
  <section id ="header-card" class="col-12 card post-card">
    <section class="header-stripe bg-gradient">
      <h2>{{BlogPostInfo.title}}</h2>
    </section>
    <div class="blog-text">
      <p class="two-columns">
        {{BlogPostInfo.blog_text}}
      </p>
    </div>
  </section>
</section>

{{!-- Update Post --}}
<div class="container my-5">
  <div id="create-card" class="col-9 card dashboard-card mx-auto">
    <div class="create-stripe">
      <h3>Update Blog Post:</h3>
    </div>
    <form class="form new-blogPost-form">
      <div class="form-group">
        <label for="blogPost-name">Title:</label>
        <input class="form-control" type="text" id="update-blogPost-name" name="update-blogPost-name" placeholder={{BlogPostInfo.title}}>
      </div>
      <div class="form-group">
        <label for="blogPost-content">Content:</label>
        <textarea class="form-control" id="update-blogPost-content" name="update-blogPost-content">{{BlogPostInfo.blog_text}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" id= "submit" class="btn btn-primary" data-id={{BlogPostInfo.id}}>Update</button>
      </div>
    </form>
  </div>
</div>


{{!-- Script --}}
<script src="/js/update.js"></script>